src/llama_recipes_local.egg-info
src/llama_recipes/datasets/__pycache__/
src/llama_recipes/data/__pycache__/
src/llama_recipes/model/modeling_musicllama.py
src/llama_recipes/transformers_minimal/build/*
src/llama_recipes/transformers_minimal/src/transformers.egg-info/SOURCES.txt
src/llama_recipes/transformers_minimal/src/transformers/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/integrations/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/llama/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/utils/__pycache__/
recipes/inference/custom_music_generation/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/generation/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/encoder_decoder/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/quantizers/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/auto/__pycache__/

# Environments and python cache
moonbeam_test/
__pycache__/
*.pyc
pyproject.toml

# Datasets
datasets/classification/emopia2.2/
datasets/classification/pianist8/
datasets/classification/pijama30/
processed_datasets/

# Models
models/

# Wandb logs
wandb/

#Misc
=4.30
solved
sys
/datasets/classification/gpm30/surname_checked_midis
/datasets/classification/gpm30/surname_checked_midis
/datasets/classification/gpm30
/datasets/classification
/datasets/classification
*.xml
*.pyc
*.iml
*.pyc
