src/llama_recipes/datasets/__pycache__/
src/llama_recipes/model/modeling_musicllama.py
src/llama_recipes/transformers_minimal/build/*
src/llama_recipes/transformers_minimal/src/transformers.egg-info/SOURCES.txt
src/llama_recipes/transformers_minimal/src/transformers/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/integrations/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/llama/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/utils/__pycache__/
recipes/inference/custom_music_generation/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/generation/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/encoder_decoder/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/quantizers/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers/models/auto/__pycache__/
src/llama_recipes/transformers_minimal/src/transformers.egg-info/

# Datasets and data-processing files
data/
processed_data/
_validate_a2.py
plans/
val_file.py
__pycache__/
models/
processed_datasets/
src/llama_recipes/configs/__pycache__/
src/llama_recipes/datasets/grammar_dataset/__pycache__/
src/llama_recipes/model_checkpointing/__pycache__/
src/llama_recipes/utils/__pycache__/
tests/__pycache__/
wandb/
/data_test_Yuhang
/processed_data_Selected_SymbTr
*.pyc
*.pyc
*.pyc
*.xml
*.pyc
*.pyc
*.pyc
/src/llama_recipes/datasets/grammar_dataset/__pycache__
/src/llama_recipes/utils/__pycache__
/src/llama_recipes/configs/__pycache__
